<div class="container">
    <h1>Welcome {{name}} !!!</h1><br />
    <hr><br />
    <h3>You can manage your task todos - <a routerLink='/todos'>Here</a>
    </h3><br />

    <h3>Click here to customized welcome message -
        <button (click)="getWelcomeMessageWithPathVariable()" class="btn btn-primary">Welcome Message </button>
    </h3><br />

    <h3 *ngIf='welcomeMessageFromService'>Your customized welcome message -
        <p class="text-success">{{ welcomeMessageFromService }}</p>
    </h3>


</div>