<div class="container">
    <br />
    <h1>Todo Task Creation</h1><br />
    <hr><br />
    <fieldset class="form-group">
        <label>Description </label>
        <input type="text" [(ngModel)]="todo.description" name="description" required class="form-control">
    </fieldset>
    <fieldset class="form-group">
        <label>Target Date </label>
        <input type="date" [ngModel]="todo.targetDate | date: 'yyyy-mm-dd'" (ngModelChange)="todo.targetDate = $event" name="targetDate"
            required class="form-control">
    </fieldset>
    <button class="btn btn-primary" (click)='saveTodo()'>Save</button>


</div>